<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css-com/product-style.css">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../adaptive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../../img/icon.png" type="image/x-icon">
    <title>Многофункциональный гибрид крем-эссенция</title>
</head>

<body>
    <div class="main">

        <nav class="nav-bar">
            <div class="logo-file">
                <div class="logo">
                    <a href="../../index.html"><img class="logo" src="../../img/logo.png" alt="logo"></a>
                </div>
            </div>

            </label>
            <ul class="menu">
                <li><a href="../../index.html">Домой</a></li>

                <li><a href=".././html-com/tonik.html">Тоник</a></li>

                <li><a href=".././html-com/cream.html">Крем</a></li>

                <li><a href=".././html-com/foam.html">Пенка</a></li>

                <li><a href=".././html-com/balm.html">Бальзам</a></li>

                <li><a href=".././html-com/shampoo.html">Шампуни</a></li>

                <li><a href=".././html-com/gel.html">Гель</a></li>

            </ul>

            <div class="search__container">
                <input class="search__input" type="text" id="myInput" onkeyup="myFunction()" placeholder="Поиск">
                <ul id="myUL" style="display: none;">

                    <li><a href="./bb-cream-black-rice.html">Увлажняющий BB-крем с экстрактом чёрного риса
                            Black Rice Cover BB Cream SPF 36 PA++</a></li>

                    <li><a href="./masil-shampoos.html">Шампуни от Masil</a></li>

                    <li><a href="./bifida-gel-cleanser.html">Гель для умывания Manyo Bifida Complex
                            Ampoule Gel Cleanser содержит бифидо</a></li>

                    <li><a href="./make-up-heimish.html">Тоник Heimish Matcha Biome Redness Relief
                            Hydrating Toner</a></li>

                    <li><a href="./heimish-balm.html">Бальзам для снятия макияжа от Heimish All Clean
                            Balm</a></li>

                    <li><a href="./cosrx-low-gel.html">Гель для умывания с BHA-кислотой и низким pH COSRX
                            Low pH Good Morning Gel Cleanser</a></li>

                    <li><a href="./masil-shampoo-yellow.html">Шампунь от перхоти с яблочным уксусом Masil
                            5 Probiotics Apple Vinegar Shampoo</a></li>

                    <li><a href="./hybrid-cream-ceuracle.html">Dr.Ceuracle Vegan Kombucha Tea Essence -
                            Многофункциональный гибрид крем-эссенция</a></li>

                    <li><a href="./masil-shampoo-green.html">Глубокоочищающий шампунь с пробиотиками Masil
                            5 Probiotics Scalp Scaling Shampoo</a></li>

                    <li><a href="./madecassoside-cream.html">Лечебный крем против несовершенств A'PIEU
                            Madecassoside Cream 2X с 2 % мадекассосида</a></li>

                    <li><a href="./masil-shampoo-blue.html">Шампунь для объема волос с пробиотиками Masil
                            5 Probiotics Perfect Volume Shampoo</a></li>

                    <li><a href="./medi-peel-gold-cream.html">Антивозрастной капсульный крем с экстрактом
                            золотого шелкопряда Medi-Peel Gold Age Tox Cream</a></li>

                    <li><a href="./medi-peel-oil.html">Гидрофильное масло с лактобактериями Medi-Peel Red
                            Lacto Collagen Cleansing Oil</a></li>

                    <li><a href="./masil-shampoo-pink.html">Шампунь с пробиотиками для защиты цвета Masil
                            5 Probiotics Color Radiance Shampoo</a></li>

                    <li><a href="./salicylic-foam.html">Пенка для умывания с салициловой кислотой для
                            проблемной кожи COSRX Salicylic Acid Daily Gentle Cleanser</a></li>

                    <li><a href="./serum-b3.html">Niacinamide 10% + Zinc 1% - это сыворотка с 10%
                            витамином В3 и цинком в концентрации 1%</a></li>

                    <li><a href="./teatreement-heal-cream.html">Лечебный крем для проблемной кожи Dr.Jart
                            Ctrl-A Teatreement Moisturizer</a></li>

                    <li><a href="./masil-shampoo-purple.html">Тонирующий шампунь для осветленных волос
                            Masil 5 Salon No Yellow Shampoo</a></li>

                    <li><a href="./unical-cream-bor-tox.html">Уникальный крем-корректор Medi-Peel Bor-Tox
                            мимических морщин усиленного действия </a></li>

                </ul>
            </div>

            <div class="topnav" id="myTopnav">
                <a href="../../index.html">Домой</a>

                <a href=".././html-com/tonik.html">Тоник</a>

                <a href=".././html-com/cream.html">Крем</a>

                <a href=".././html-com/foam.html">Пенка</a>

                <a href=".././html-com/balm.html">Бальзам</a>

                <a href=".././html-com/shampoo.html">Шампуни</a>

                <a href=".././html-com/gel.html">Гель</a>

                <a href="javascript:void(0);" class="icon" onclick="topNav()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </nav>

        <hr>

        <div class="back-second">
            <section class="back-first">
                <main class="container">

                    <!-- Left Column / Headphones Image -->
                    <div class="left-column">
                        <img src="../img-com//cream-hybrid-kombucha.jpg" style="height: auto;" alt="">
                    </div>


                    <!-- Right Column -->
                    <div class="right-column">

                        <!-- Product Description -->
                        <div class="product-description">
                            <h1>Dr.Ceuracle Vegan Kombucha Tea Essence</h1>
                            <p>
                                Dr.Ceuracle Vegan Kombucha Tea Essence - Многофункциональный гибрид крем-эссенция
                                обладает детоксикационным действием, поскольку в его состав входит множество
                                косметических ингредиентов, предназначенных для устранения загрязнений и повышения
                                уровня гидратации. Помогая создать более здоровый цвет лица, чайный гриб, богатый
                                пробиотиками и витаминами, и веганский чайный комплекс, содержащий фруктовые экстракты,
                                работают вместе, чтобы помочь очистить и восстановить баланс кожи. Средство содержит
                                комплекс веганского чая Vegan Tea Complex (78%), который запускает все процессы
                                выведения токсинов, а также регенерацию кожи, оказывает интенсивное питание и увлажнение
                                для сбалансированного, здорового цвета лица. В состав комплекса входит комбуча, экстракт
                                листьев и вода из листьев зеленого чая, ферментированный экстракт дрожжей, экстракт
                                плодов лимонника.
                                <br>

                            </p>
                        </div>

                        <div class="product-price">
                            <span>14.500T</span>


                            <a href="https://wa.me/77027776421?text=%D0%97%D0%B4%D1%80%D0%B0%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%2C%20%D1%85%D0%BE%D1%87%D1%83%20%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C%20%22%D0%9C%D0%BD%D0%BE%D0%B3%D0%BE%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9%20%D0%B3%D0%B8%D0%B1%D1%80%D0%B8%D0%B4%20%D0%BA%D1%80%D0%B5%D0%BC-%D1%8D%D1%81%D1%81%D0%B5%D0%BD%D1%86%D0%B8%D1%8F%20Dr.Ceuracle%22.%20%D0%90%D0%B4%D1%80%D0%B5%D1%81%20%D0%B4%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B8%3A"
                                class="cart-btn" id="link-wa">Заказать через WhatsApp</a>
                            <a href="tel:+77027776421" class="cart-btn">Заказать через Звонок</a>
                        </div>
                    </div>
        </div>
    </div>
    </main>
    </section>
    </div>

    <h3 class="middle"><a class="none-dec" href="../html-com/contacts.html"> Что бы узнать подробнее свяжитесь с нами</a> </h3>

    <div class="footer">

        <div class="footer-text-card">
            <h3 class="footer-text-card-header">Категории</h3>
            <li><a href="../html-com/tonik.html">Тоник</a></li>
            <li><a href="../html-com/cream.html">Крем</a></li>
            <li><a href="../html-com/foam.html">Пенка</a></li>
            <li><a href="../html-com/balm.html">Бальзам</a></li>
            <li><a href="../html-com/serum.html">Сыворотки</a></li>
            <li><a href="../html-com/shampoo.html">Шампуни</a></li>
            <li><a href="../html-com/gel.html">Гель</a></li>
        </div>

        <div class="footer-text-card">
            <h3 class="footer-text-card-header">Информация</h3>
            <li><a href="../html-com/nothing.html">Скидки</a> </li>
            <li><a href="../html-com/nothing.html">Новые товары</a></li>
            <li><a href="../html-com/nothing.html">Популярные товары</a></li>
            <li><a href="../html-com/contacts.html">Свяжитесь с нами</a></li>
            <li><a href="../html-com/about-us.html">О нас</a></li>
            <li><a href="../html-com/map.html">Карта сайта</a></li>
        </div>
        <div class="footer-blue-back"></div>
        <div class="footer-contants">

            <div class="footer-contacts-info">
                <h3 class="footer-contacts-info-header-text">Контактная Информация</h3>
                <div class="footer-contacts-info-number-text">
                    <p class="footer-contacts-info-small-text">Адрес:</p>
                    <p class="footer-contacts-ingo-bigger-text"><a href="../html-com/map.html">Кабанбай батыр, 62</a></p>
                </div>
                <div class="footer-contacts-info-number-text">
                    <p class="footer-contacts-info-small-text">Телефоны:</p>
                    <h3 class="footer-contacts-ingo-bigger-text"><a href="tel:+77027776421">+7‒775‒303‒87‒00</a></h3>
                </div>
                <div class="footer-contacts-info-email-text">
                    <p class="footer-contacts-info-small-text">Email:</p>
                    <li class="footer-contacts-info-link-text"><a href="mailto:eco.glow@gmail.com">eco.glow@gmail.com</a></li>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="../js-com/script.js"></script>

</body>

</html>